{% extends "base.html.twig" %}

{% block title %}Modification du mot de passe {% endblock %}

{% block body %}

<div class="container d-flex flex-column col-4 mt-4">

<form method="POST">
  <div class="form-group">

    <h1>Modification du mot de passe </h1>

    <label for="password">Votre nouveau mot de passe </label>
    <input type="password" class="form-control" id="password" aria-describedby="passwordHelp" placeholder="Entrez votre nouveau mot de passe" name="password" minlength="8">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Confirmer votre nouveau mot de passe !!!</label>
    <input type="password" class="form-control" id="password_confirm" placeholder="Confirmez votre mot de passe " name="password_confirm" minlength="8">
  </div>
  <button type="submit" class="btn btn-outline-primary">Modifier</button>
</form>

</div>

{% endblock %}