{% extends "base.html.twig" %}

{% block title %}Demande de ré-initialisation de mot de passe {% endblock %}

{% block body %}

    <section class="container my-3">
        <div class="row">
            <div class="col">
                <h1>Vous avez oublié votre de passe ?</h1>
                <p>Pas de problème, nous pouvons vous aidez</p>

                {{ form_start(requestPassForm)}}


                {{ form_widget(requestPassForm)}}
        <button class="btn btn-outline-success mt-2" type="submit">Envoyez la requête </button>
                {{ form_end(requestPassForm)}}
            </div>
        </div>
    </section>

{% endblock %}