<!DOCTYPE html>
<html>
    <head>
        
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="https://bootswatch.com/5/lumen/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.css">
        {% block stylesheets %}
            
        {% endblock %}

    </head>
    {% include "_partials/_nav.html.twig" %}
    {% include "_partials/_flash.html.twig" %}
    <body>
        {% block body %}{% endblock %}
        <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.js"></script>
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
